/* GLOBAL */
:root{
  --background-color: #fff;
  --brand-color: #EA625C;
  --brand-color-hover: #C9514C;
  --intro-heading: #000;
  --intro-text-color: #777;
  --feature-heading-color: #222;
  --feature-text-color: #333;
  --global-search-color: #666;
  --intro-border-color: #ddd;
  --intro-text-left-border: #888;
  --font-family-text: "Roboto", "Arial", sans-serif;
  --font-weight-heading: 700;
  --font-weight-text: 400;
  --font-size-intro-heading: 50px;
  --font-size-intro-text: 16px;
  --font-size-feature-heading: 18px;
  --font-size-feature-text: 15px;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
      url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
      url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before
*::after{
box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text);
  font-size: var(--font-size-feature-text);
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--feature-text-color);
}

img{
  max-width: 100%;
  height: auto;
}

*:focus{
  outline: 2px dashed var(--brand-color);
  outline-offset: 3px;
}

.container{
  width: 100%;
  max-width: 1000px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.main-content{
  flex-grow: 1;
}

.button-intro{
  padding-left: 39px;
  padding-right: 39px;
}

.button-info{
  padding-left: 90px;
  padding-right: 90px;
}

.button-footer{
  padding-left: 46px;
  padding-right: 46px;
}

.button{
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--brand-color);
  color: #fff;
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-feature-heading);
  text-transform: uppercase;
  border: 0;
}

.button:hover{
  background-color: var(--brand-color-hover);
}

.button:active{
  opacity: 0.6;
}

.site-header-container{
  display: flex;
  align-items: center;
}

.site-header {
  padding-top: 30px;
  padding-bottom: 60px;
}

.site-logo-link {
  display: flex;
  margin-right: auto;
}

.site-logo-img {
  width: 35px;
  height: 42px;
  object-fit: contain;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.site-nav-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-nav-item:not(:last-child){
  margin-right: 30px;
}

.site-nav-link {
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 6px;
  text-decoration: none;
  color: var(--feature-text-color);
}

.site-nav-link:hover{
  border-bottom: 3px solid var(--feature-text-color);
  transform: rotate(0.16deg);
}

.site-nav-link:active{
  opacity: 0.6;
}

.global-form-search{
  width: 153px;
  border-bottom: 1px solid var(--feature-text-color);
}

.global-form-search-input{
  padding-bottom: 6px;
  border: 0;
  line-height: 22.5px;
  color: var(--global-search-color);
}

.site-intro-container {
  padding-top: 90px;
  padding-bottom: 185px;
  border-bottom: 2px solid var(--intro-border-color);
  background-image: url(../img/apple-watch.svg);
  background-position: 120% 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.site-intro-content{
  width: 490px;
}

.site-intro-heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-intro-heading);
  line-height: 60px;
  color: var(--intro-heading);
}

.site-intro-text-content{
  padding-bottom: 30px;
}

.site-intro-text {
  padding-left: 40px;
  margin-top: 0;
  margin-bottom: 0;
  border-left: 3px solid var(--intro-text-left-border);
  font-size: var(--font-size-intro-text);
  font-weight: var(--font-weight-text);
  color: var(--intro-text-color);
}

.site-feature {
  padding-top: 68px;
  padding-bottom: 140px;
  display: flex;
  align-items: flex-start;
}

.site-feature-item {
  width: 280px;
}

.site-feature-item:not(:last-child){
  margin-right: 80px;
}

.site-feature-item-header {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-feature-heading);
  color: var(--feature-heading-color);
  text-transform: uppercase;
}

.site-feature-item-text {
  margin-top: 0;
  margin-bottom: 20px;
}

.site-feature-item-link {
  display: inline-block;
  text-decoration: none;
}

.site-feature-link-content {
  display: flex;
  align-items: center;
}

.dot-divider {
  width: 8px;
  height: 8px;
  background-color: var(--intro-border-color);
}

.dot-divider:not(:last-child){
  margin-right: 10px;
}

.liner {
  width: 40px;
  height: 0;
  border-bottom: 3px solid var(--brand-color);
  margin-right: 10px;
}

.site-feature-link-tekst {
  color: var(--brand-color);
  font-size: var(--font-size-intro-text);
  font-weight: var(--font-weight-text);
  text-transform: uppercase;
}

.site-info{
  padding-top: 106px;
  padding-bottom: 106px;
  background-image: url(../img/watch-in-hand.jpg);
  background-position: 90% bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 70px;
}

.site-footer{
  padding-top: 240px;
  padding-bottom: 240px;
  background-image: url(../img/runners.jpg);
  background-position: lest top;
  background-repeat: no-repeat;
  background-size: cover;
  --intro-heading: #fff;
  --intro-text-color: #fff;
  --intro-text-left-border: #fff;
}

.site-footer-content{
  margin-left: auto;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
.site-info{
  background-image: url(../img/watch-in-hand@2x.jpg);
}

.site-footer{
  background-image: url(../img/runners@2x.jpg);
}
}